@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<div class="row" style="text-align:center;">
    <div class="col-md-4"></div>
    <div class="col-md-4 well">
    <h3>Background</h3>
    </hr>
    <img src="~/images/mobiLogo.jpg" class="thumbnail" width="304" height="236" style="display:inline-block;">
    <p>MOBISOL was established in 2010 and is based in Berlin.
        MOBISOL expanded to Rwanda in early 2014 and has since proved 
        that solar home systems are an ideal solution for off-grid 
        electrification. Tanzania and Rwanda and has installed over 
        30, 0000 solar home systems on households in order to tackle 
        the challenge of energy poverty.
    </p>
    </div>
    <div class="col-md-4"></div>
</div>



