@page
@model mobisolProject.Pages.LoginModel

@{
    ViewData["Title"] = "Login";
}


<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4 well" style="text-align:center;">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="loginData.Username" class="control-label"></label>
                <input asp-for="loginData.Username" class="form-control" />
                <span asp-validation-for="loginData.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="loginData.Password" class="control-label"></label>
                <input asp-for="loginData.Password" class="form-control" />
                <span asp-validation-for="loginData.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
            <div>
                <a asp-page="Customers/Create">Sign Up</a>
            </div>
        </form>
    </div>
    <div class="col-md-4">
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

