@page 

@{
    ViewData["Title"] = "Products";
}

<div class="row" id="products" style="text-align:center;">
    <div class="col-md-4"></div>
    <div class="col-md-4 well">
        <h3>Our products</h3>
        <div>
            <img src="~/images/banner4.jpg" class="img-responsive">
        </div>
        <div>
            <h4>Basic Family Package</h4>
            <p>This starts at 399frw a day, featuring a solar home system, three LED light sets,
                one mobile charger and a torch (sunking). For just 99rwf more per day you can add
                a 15" TV (Special offer - limited)
            </p>
            <h4>Premium Package</h4>
            <p>Further you can combine your SHS with our PREMIUM PACKAGE for an extra 249frw/day
                which includes a 19" television, two additional LED light sets and a solar radio. 
                Mobisol's MULTIPLE PHONE CHARGER comes at 199frw/day and enables you to charge up to 
                30 mobile phones a day.
            </p>
            <h4>FAMILY PACKAGE </h4>
            <p>Family package has three LED light sets, one mobile charger and a torch at 399rwf/day</p>
        </div>
    </div>
    <div class="col-md-4"></div>

</div>